################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatternsParteUm/.vs/DesignPatternsParteUm/DesignTimeBuild
/DesignPatternsParteUm/.vs/DesignPatternsParteUm/v15
/DesignPatternsParteUm/MuitosImpostos-StrategyPattern/obj
/DesignPatternsParteUm/PatternStrategy-MuitosImpostos/bin/Debug
/DesignPatternsParteUm/PatternStrategy-MuitosImpostos/obj/Debug
/DesignPatternsParteUm/.vs/DesignPatternsParteUm/v16/Server/sqlite3
/DesignPatternsParteUm/.vs/DesignPatternsParteUm/v16
/DesignPatternsParteUm/PatternStrategy-MuitosImpostos/obj/Release
/DesignPatternsParteUm/PatternChainOfResponsibility-DescontosOrçamento/bin/Debug
/DesignPatternsParteUm/PatternChainOfResponsibility-DescontosOrçamento/obj/Debug
/DesignPatternsParteUm/PatternTemplateMethod-OrçamentoImpostos/bin/Debug
/DesignPatternsParteUm/PatternTemplateMethod-OrçamentoImpostos/obj/Debug
/DesignPatternsParteUm/PatternDecorator-ImpostosCompostos/bin/Debug
/DesignPatternsParteUm/PatternDecorator-ImpostosCompostos/obj/Debug
/DesignPatternsParteUm
/DesignPatternsParteDois/.vs
/DesignPatternsParteDois/PatternFactory-CriandoConexaoComDb/bin/Debug
/DesignPatternsParteDois/PatternFactory-CriandoConexaoComDb/obj/Debug
/DesignPatternsParteDois/PatternFlyweight-MuitoObjetos/bin/Debug
/DesignPatternsParteDois/PatternFlyweight-MuitoObjetos/obj
/DesignPatternsParteDois/PatternFlyweight-MuitoObjetos/Properties
/DesignPatternsParteDois/PatternMemento-EstadosAnterioresContrato/bin/Debug
/DesignPatternsParteDois/PatternMemento-EstadosAnterioresContrato/obj/Debug
/DesignPatternsParteDois/PatternMemento-SalvandoEstadosAnteriores/obj
